ENV_MODE=dev
FREE_TIER_MONTHLY_QUOTA=10

DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432


RESEND_API_KEY=
DEFAULT_FROM_EMAIL=noreply@example.com

# Media Storage Configuration
# Cloudinary (Used when ENV_MODE=dev)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# AWS S3 (Used when ENV_MODE=prod)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1

# Paystack
PAYSTACK_SECRET_KEY=sk_test_your_key_here
